.navigation {
	&__list {
		display: flex;
		align-items: center;
		font-weight: 500;

		.active {
			color: #00bf78;
			border-bottom: 2px solid #00bf78;
		}
	}

	&__link:hover {
		color: #00bf78;
	}
}
